/* Customizations to the designer theme should be defined here */
html {
  font-size: 16px;
}
.card {
  box-shadow: none;
  border-radius: 12px;
}
.p-card {
  border-radius: 1rem;
  overflow: hidden;
  .p-card-header {
    padding: 1rem;
  }
  .p-card-footer {
    min-height: 68px;
    padding: 1rem;
    margin: 0rem -1rem -1rem -1rem;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 1rem;
    }
  }
  &.card-editing {
    border: 3px solid $primaryColor;
    .p-card-footer {
      background: $primaryLightColor;
    }
  }
}
.p-panel .p-panel-content {
  border: none;
}
.p-accordion .p-accordion-content {
  border: none;
}
.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link,
.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  border-color: transparent;
}
.p-dialog .p-dialog-header {
  border-bottom: none;
  background: #f1f3f3;
}
.p-dialog .p-dialog-content {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.p-dialog .p-dialog-footer {
  border-top: none;
}
.p-listbox .p-listbox-header {
  padding: 0.5rem;
}
.p-button.p-button-secondary.p-button-outlined {
  color: $primaryColor;
  &:hover,
  &:enabled:active {
    color: $primaryColor;
  }
}
.p-button.p-button-secondary.p-button-text {
  color: $primaryColor;
  &:hover,
  &:enabled:active {
    color: $primaryColor;
  }
}
.p-accordion {
  border: 2px solid white;
  border-radius: 1rem;
  overflow: hidden;
}
.p-dropdown {
  border-radius: 0.5rem;
  max-height: 36px;
  display: flex;
  align-items: center;
}
.p-inputtext {
  line-height: 1rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.p-autocomplete
  .p-autocomplete-multiple-container
  .p-autocomplete-input-token
  input {
  height: 1rem;
}
.p-float-label label {
  top: 55%;
}
.p-inputwrapper .p-button-label {
  height: 1rem;
}
.p-button .p-button-label {
  line-height: 1;
}
.p-inputnumber-buttons-stacked .p-inputnumber-button-group {
  height: 2.25rem;
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0px;
}
.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background: $primaryLighterColor;
    color: $darkColor;
}
.daterangepicker-section {
  display: flex;
  .daterangepicker-sidebar {
    width: 100%;
    border-left: 3px solid $backgroundColor;
    .p-listbox {
        border: none;
    }
  }
}
.daterangepicker-footer {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 3px solid $backgroundColor;
  input {
    max-width: 140px;
    margin-right: 12px;
    &:last-of-type {
      margin-right: 0px;
      margin-left: 12px;
    }
  }
  button {
    margin-left: 12px !important;
  }
}
.p-datepicker .p-monthpicker, .p-datepicker .p-yearpicker {
  margin: 0.5rem;
}
.p-menu {
  ul.p-menu-list {
    li.p-menuitem.sub-item {
      &.sub-item-border {
        border-top: 2px solid $backgroundColor;
        padding-top: 0.25rem;
      }
      a {
        font-size: 0.75rem;
        padding: 0.5rem;
      }
    }
  }
}
.p-input-icon-left > i:first-of-type.material-icons {
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  color: $darkMediumColor;
}
.p-inputtext::placeholder {
  font-weight: 600;
}

.p-datatable .p-datatable-header {
  border-width: 0px;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-emptymessage {
  background: $backgroundColor;
  padding: 0.5rem;
  border-bottom: 2px solid $backgroundColor;
}
.p-datatable .p-paginator-bottom {
  border-width: 0px;
}