$colors: (
    "blue": #40B3DD,
    "green": #8BCFCF,
    "yellow": #FFD500,
    "cyan": #BFEBFB,
    "pink": #D49BC1,
    "indigo": #26728E,
    "teal": #078888,
    "orange": #EDA745,
    "bluegray": #607D8B,
    "purple": #7E78D2
);

// Theme Specific Variables
$primaryColor: #078888;
$primaryLightColor: #C4E8E8;
$primaryLighterColor: #E2F4F4;
$primaryDarkColor: #045C5C;
$primaryDarkerColor: #045C5C;
$primaryTextColor: #ffffff;
$darkLightColor: #D4D9D9;
$darkColor: #3B4242;
$darkMediumColor: #718484;
$errorColor: #C3370B;
$highlightBg: #f1f3f3;
$backgroundColor: #f1f3f3;

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    --surface-a:#ffffff;
    --surface-b:#f1f3f3;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:$darkColor;
    --text-color-secondary:$darkMediumColor;
    --primary-color:$primaryColor;
    --primary-color-text:#ffffff;
    --font-family:"Rubik",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-0: #ffffff;
    --surface-50: #f1f3f3;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #f1f3f3;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius: 1rem;
    --surface-ground:#f1f3f3;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-hover:#e9ecef;
    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};
}