html {
    font-size: 14px;
    height: 100%;
}

body {
	font-family: var(--font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
	background-color: var(--surface-ground);
	color: var(--text-color);
	font-size: 14px;
	padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	&.layout-scroll-block {
		overflow: hidden;
	}
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

.p-toast.p-toast-topright {
    z-index: 10000;
    top: 90px;
    right: 28px;
}

.layout-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: rgba(255,255,255,0.8);
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    
    .intro-title {
        font-weight: 300;
        animation: fadeInDown 1s;

        i {
            font-size: 1.75rem;
        }
    }

    .theme-options {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        margin: 0 auto;
    }
    
    .theme-option {
        padding: 2rem;
    
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: transparent;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
            border: 0 none;
            transition: transform .3s;
    
            &:hover {
                transform: scale(1.1);
            }
    
            img {
                width: 50px;
            }
        }
    
        &.theme-option {
            animation: fadeInUp 1s;
    
            &.theme-option-leave {
                animation: fadeOut 1s forwards;
            }
        }
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.layout-wrapper {
	.layout-topbar {
        background-color: var(--surface-card);
        color: var(--text-color);
		height: 50px;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
        z-index: 997;
        padding-left: 350px;
        box-shadow: 0 0 4px rgba(0,0,0,.25);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-icon {
            color: var(--text-secondary-color);

            &.menu-icon {
                margin-left: 2rem;
                display: none;
                width: 2.5rem;
                height: 2.5rem;

                i {
                    font-size: 1.5rem;
                }
            }
    
            &.home-icon {
                margin-left: 2rem;
    
                i {
                    font-size: 1rem;
                }
            }

            &:hover {
                background: var(--surface-hover);
            }
        }

		.route-link {
            color: var(--text-secondary-color);
            display: block;
            padding: .5rem 1rem;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color .2s;
            margin: 0 2rem 0 auto;

            &:hover {
                background: var(--surface-hover);
            }
        }
	}

    .layout-editor {
        position: fixed;
        width: 350px;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: var(--surface-card);
        color: var(--text-color);
        border-right: 1px solid var(--surface-border);
        transition: transform .4s cubic-bezier(.05,.74,.2,.99);

        .layout-editor-top {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .logo {
                width: 150px;
            }
        }

        p {
            font-size: .875rem;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 6px;
            background-color: var(--surface-ground);
            border: 2px dashed var(--surface-border);
            color: var(--text-color-secondary);

            a {
                color: #2196F3;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .editor-field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 0;

            label {
                font-size: .857rem;
            }

            input {
                text-align: right;
                appearance: none;
                border: 0 none;
                background-color: var(--surface-border);
                border-radius: 4px;
                font-size: 1rem;
            }

            input[type=text] {
                padding: .5rem;
                color: var(--text-color);
            } 
        }

        .layout-editor-panel {
            overflow: auto;
            height: 100%;
            padding: 0 1.5rem 1.5rem 1.5rem;
        }

        .config-scale {
            display: flex;
            align-items: center;
            margin: 1rem 0 2rem 0;
    
            .p-button {
                margin-right: .5rem;
            }
    
            i {
                margin-right: .5rem;
                font-size: .75rem;
                color: var(--text-color-secondary);
    
                &.scale-active {
                    font-size: 1.25rem;
                    color: #2196F3;
                }
            }
        }
    }

	.layout-content {
		margin-left: 350px;
		padding: 6rem 2rem 2rem 2rem;
		background-color: var(--surface-ground);
	}

	.layout-footer {
		width: 100%;
        background: var(--surface-card);
		padding: 1rem;
        padding-left: 374px;
        border-top: 1px solid var(--surface-border);
		color: var(--text-secondary-color);
    }
    
    .action-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        transition: background-color .15s;
        cursor: pointer;

        &.action-restart {
            background-color: #2194f3;
            color: #ffffff;

            &:hover {
                background-color: scale-color(#2194f3, $lightness: -10%);
            }
        }

        &.action-download {
            background-color: #f37f21;
            color: #ffffff;
        }
    }

    &.layout-editor-code {
        .layout-topbar {
            padding-left: 2rem;
        }

        .layout-content {
            margin-left: 0;
        }

        .layout-footer {
            padding-left: 2rem;
        }
    }
}

.card {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 1rem;
    
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

i:not([class~="pi"]) {
    background-color: var(--surface-ground);
    color: #2196f3;
    font-family: Monaco, courier, monospace;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    letter-spacing: .5px;
    border-radius: 3px;
    font-weight: 600;
    margin: 0 2px;
}

pre[class*="language-"] {
    &:before, &:after {
        display: none !important;
    } 

    code {
        border-left: 10px solid var(--surface-border) !important;
        box-shadow: none !important;
        background: var(--surface-ground) !important;
        margin: 1em 0;
        color: var(--text-color);
        font-size: 14px;
    
        .token {
            &.tag,
            &.keyword {
                color: #2196F3 !important;
            }
    
            &.attr-name,
            &.attr-string {
                color: #2196F3 !important;
            }
    
            &.attr-value {
                color: #4CAF50 !important;
            }
    
            &.punctuation {
                color: var(--text-color);
            }
    
            &.operator,
            &.string,
            &.url {
                background: transparent;
            }
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media screen and (max-width: 991px) {
    .layout-wrapper {
        .layout-topbar {
            padding-left: 0;
            justify-content: flex-start;

            .action-icon {
                &.menu-icon {
                    display: flex;
                }
        
                &.home-icon {
                    margin-left: .5rem;
                }
            }

            .route-link {
                margin-left: auto;
            }
        }

        .layout-editor {
            transform: translateX(-100%);

            &.layout-editor-active {
                transform: translateX(0);
            }
        }

        .layout-content {
            margin-left: 0;
        }

        .layout-mask {
            background-color: rgba(0, 0, 0, 0.1);
    
            &.layout-mask-active {
                z-index: 998;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.4);
                transition: background-color .5s;
            }
        }

        .layout-footer {
            padding-left: 1rem;
        }
    }

    .layout-intro {
        .theme-option {
            padding: 2rem .5rem;
        }
    }
}

/* Demos */
.p-multiselect-representative-option {
    display: inline-block;
    vertical-align: middle;

    img {
        vertical-align: middle;
        width: 24px;
    }

    span {
        margin-top: .125rem;
    }
}

.image-text {
    vertical-align: middle;
    margin-left: .5rem;
}