$colors: (
    "blue": #4DB6ED,
    "green": #64BA8D,
    "yellow": #FAD350,
    "cyan": #66E2EA,
    "pink": #EC75BC,
    "indigo": #558DE1,
    "teal": #4CAC9B,
    "orange": #F0AB43,
    "bluegray": #7F94A2,
    "purple": #B071C6
);

//main color scheme
$primaryColor: #7B95A3 !default;
$primaryDarkColor: #6c8999 !default;
$primaryDarkerColor: #617c8a !default;
$primaryTextColor: #ffffff !default;

//highlight
$highlightBg: #AFD3C8 !default;
$highlightBgDark: #8DC8B5 !default;
$highlightTextColor: #385048 !default;

//global
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$fontSize: 1rem !default;
$fontWeight: normal !default;
$textColor: #666666 !default;
$textSecondaryColor: #a6a6a6 !default;
$borderRadius: 2px !default;
$transitionDuration: .2s !default;
$formElementTransition: background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration !default;
$actionIconTransition: background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration !default;
$listItemTransition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration !default;
$primeIconFontSize: 1rem !default;
$divider: 1px solid #dadada !default;
$inlineSpacing: .5rem !default; //spacing between inline elements
$disabledOpacity: .5 !default; //opacity of a disabled item
$maskBg: rgba(0, 0, 0, 0.4) !default; //modal mask bg color
$loadingIconFontSize: 2rem !default;
$errorColor:#e7a3a3 !default;

//scale
$scaleSM:0.875 !default;
$scaleLG:1.25 !default;

//focus
$focusOutlineColor:lighten($primaryColor, 35%) !default;
$focusOutline: 0 none !default;
$focusOutlineOffset: 0 !default;
$focusShadow: 0 0 0 0.2rem $focusOutlineColor !default;

//action icons
$actionIconWidth: 2rem !default;
$actionIconHeight: 2rem !default;
$actionIconBg: transparent !default;
$actionIconBorder: 0 none !default;
$actionIconColor: $textSecondaryColor !default;
$actionIconHoverBg: transparent !default;
$actionIconHoverBorderColor: transparent !default;
$actionIconHoverColor: $textColor !default;
$actionIconBorderRadius: 50% !default;

//input field (e.g. inputtext, spinner, inputmask)
$inputPadding: 0.429rem 0.429rem !default;
$inputTextFontSize: 1rem !default;
$inputBg: #ffffff !default;
$inputTextColor: $textColor !default;
$inputIconColor: $textSecondaryColor !default;
$inputBorder: 1px solid #dadada !default;
$inputHoverBorderColor: #a6a6a6 !default;
$inputFocusBorderColor: $primaryColor !default;
$inputErrorBorderColor: $errorColor !default;
$inputPlaceholderTextColor: #a6a6a6 !default;
$inputFilledBg:#f4f4f4 !default;
$inputFilledHoverBg:#f4f4f4 !default;
$inputFilledFocusBg:#f4f4f4 !default;

//input groups
$inputGroupBg: #dbdbdb !default;
$inputGroupTextColor: $textColor !default;
$inputGroupAddOnMinWidth: 2.357rem !default;

//input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListBg: #ffffff !default;
$inputListTextColor: $textColor !default;
$inputListBorder: 1px solid #dadada !default;
$inputListPadding: 0 !default;
$inputListItemPadding: 0.429rem 0.857rem !default;
$inputListItemBg: transparent !default;
$inputListItemTextColor: $textColor !default;
$inputListItemHoverBg: #f4f4f4 !default;
$inputListItemTextHoverColor: $textColor !default;
$inputListItemBorder: 0 none !default;
$inputListItemBorderRadius: 0 !default;
$inputListItemMargin: 0 !default;
$inputListItemFocusShadow: inset 0 0 0 0.2rem lighten($primaryColor, 35%) !default;
$inputListHeaderPadding: 0.429rem 0.857rem !default;
$inputListHeaderMargin: 0 !default;
$inputListHeaderBg: #ffffff !default;
$inputListHeaderTextColor: $textColor !default;
$inputListHeaderBorder: 1px solid #dadada !default;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBg:$inputListBg !default;
$inputOverlayHeaderBg:$inputListHeaderBg !default;
$inputOverlayBorder: 1px solid #eaeaea !default;
$inputOverlayShadow: 0 0 6px 0 rgba(0, 0, 0, 0.16) !default;

//password
$passwordMeterBg:#efefef !default;
$passwordWeakBg:#F4B6B6 !default;
$passwordMediumBg:#ffe38e !default;
$passwordStrongBg:#A3E2C6 !default;

//button
$buttonPadding: .429rem 1rem !default;
$buttonIconOnlyWidth: 2.357rem !default;
$buttonIconOnlyPadding: .429rem 0 !default;
$buttonBg: $primaryColor !default;
$buttonTextColor: $primaryTextColor !default;
$buttonBorder: 1px solid $primaryColor !default;
$buttonHoverBg: $primaryDarkColor !default;
$buttonTextHoverColor: $primaryTextColor !default;
$buttonHoverBorderColor: $primaryDarkColor !default;
$buttonActiveBg: $primaryDarkerColor !default;
$buttonTextActiveColor: $primaryTextColor !default;
$buttonActiveBorderColor: $primaryDarkerColor !default;
$raisedButtonShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !default;
$roundedButtonBorderRadius: 2rem !default;

$textButtonHoverBgOpacity:.04 !default;
$textButtonActiveBgOpacity:.16 !default;
$outlinedButtonBorder:1px solid !default;
$plainButtonTextColor:$textSecondaryColor !default;
$plainButtonHoverBgColor:#f4f4f4 !default;
$plainButtonActiveBgColor:#dbdbdb !default;

$secondaryButtonBg: #a3897b !default;
$secondaryButtonTextColor: #ffffff !default;
$secondaryButtonBorder: 1px solid #8e6f5f !default;
$secondaryButtonHoverBg: #8e6f5f !default;
$secondaryButtonTextHoverColor: #ffffff !default;
$secondaryButtonHoverBorderColor: #7a5743 !default;
$secondaryButtonActiveBg: #7a5743 !default;
$secondaryButtonTextActiveColor: #ffffff !default;
$secondaryButtonActiveBorderColor: #6e4e3c !default;
$secondaryButtonFocusShadow: 0 0 0 0.2rem #bfaaa0 !default;

$infoButtonBg: #A3DEF8 !default;
$infoButtonTextColor: #3D4447 !default;
$infoButtonBorder: 1px solid #79C8EB !default;
$infoButtonHoverBg: #81CBEC !default;
$infoButtonTextHoverColor: #3D4447 !default;
$infoButtonHoverBorderColor: #60B7DE !default;
$infoButtonActiveBg: #3ea9db !default;
$infoButtonTextActiveColor: #3D4447 !default;
$infoButtonActiveBorderColor: #2987B1 !default;
$infoButtonFocusShadow: 0 0 0 0.2rem lighten($infoButtonBg, 10%) !default;

$successButtonBg: #A3E2C6 !default;
$successButtonTextColor: #323E39 !default;
$successButtonBorder: 1px solid #80CAAA !default;
$successButtonHoverBg: #80CAAA !default;
$successButtonTextHoverColor: #323E39 !default;
$successButtonHoverBorderColor: #5EA285 !default;
$successButtonActiveBg: #31B57C !default;
$successButtonTextActiveColor: #323E39 !default;
$successButtonActiveBorderColor: #5EA285 !default;
$successButtonFocusShadow: 0 0 0 0.2rem lighten($successButtonBg, 10%) !default;

$warningButtonBg: #ffe38e !default;
$warningButtonTextColor: #333333 !default;
$warningButtonBorder: 1px solid #ffd95e !default;
$warningButtonHoverBg: #ffd95e !default;
$warningButtonTextHoverColor: #333333 !default;
$warningButtonHoverBorderColor: #ffce3c !default;
$warningButtonActiveBg: #ffce3c !default;
$warningButtonTextActiveColor: #333333 !default;
$warningButtonActiveBorderColor: #ffc62a !default;
$warningButtonFocusShadow: 0 0 0 0.2rem lighten($warningButtonBg, 5%) !default;

$helpButtonBg:#e9bef1 !default;
$helpButtonTextColor:#333333 !default;
$helpButtonBorder:1px solid #de9eea !default;
$helpButtonHoverBg:#de9eea !default;
$helpButtonTextHoverColor:#333333 !default;
$helpButtonHoverBorderColor:#d37de3 !default;
$helpButtonActiveBg:#d37de3 !default;
$helpButtonTextActiveColor:#333333 !default;
$helpButtonActiveBorderColor:#c85ddc !default;
$helpButtonFocusShadow:0 0 0 0.2rem lighten($helpButtonBg, 5%) !default;

$dangerButtonBg: #F4B6B6 !default;
$dangerButtonTextColor: #262222 !default;
$dangerButtonBorder: 1px solid #E38787 !default;
$dangerButtonHoverBg: #EF9999 !default;
$dangerButtonTextHoverColor: #262222 !default;
$dangerButtonHoverBorderColor: #CB5858 !default;
$dangerButtonActiveBg: #EB5656 !default;
$dangerButtonTextActiveColor: #262222 !default;
$dangerButtonActiveBorderColor: #B73737 !default;
$dangerButtonFocusShadow: 0 0 0 0.2rem lighten($dangerButtonBg, 10%) !default;

$linkButtonColor:$primaryDarkerColor !default;
$linkButtonHoverColor:$primaryDarkerColor !default;
$linkButtonTextHoverDecoration:underline !default;
$linkButtonFocusShadow: 0 0 0 0.2rem $focusOutlineColor !default;

//checkbox
$checkboxWidth:20px !default;
$checkboxHeight:20px !default;
$checkboxBorder: $inputBorder !default;
$checkboxIconFontSize:14px !default;
$checkboxActiveBorderColor: $primaryColor !default;
$checkboxActiveBg: $primaryColor !default;
$checkboxIconActiveColor: $primaryTextColor !default;
$checkboxActiveHoverBg: $primaryDarkerColor !default;
$checkboxIconActiveHoverColor: $primaryTextColor !default;
$checkboxActiveHoverBorderColor: $primaryDarkerColor !default;

//radiobutton
$radiobuttonWidth:20px !default;
$radiobuttonHeight:20px !default;
$radiobuttonBorder: $inputBorder !default;
$radiobuttonIconSize:12px !default;
$radiobuttonActiveBorderColor: $primaryColor !default;
$radiobuttonActiveBg: $primaryColor !default;
$radiobuttonIconActiveColor: $primaryTextColor !default;
$radiobuttonActiveHoverBg: $primaryDarkerColor !default;
$radiobuttonIconActiveHoverColor: $primaryTextColor !default;
$radiobuttonActiveHoverBorderColor: $primaryDarkerColor !default;

//colorpicker
$colorPickerPreviewWidth: 2rem !default;
$colorPickerPreviewHeight: 2rem !default;
$colorPickerBg: #323232 !default;
$colorPickerBorder:1px solid  #191919 !default;
$colorPickerHandleColor: #ffffff !default;

//togglebutton
$toggleButtonBg: #eaeaea !default;
$toggleButtonBorder: 1px solid #eaeaea !default;
$toggleButtonTextColor: #333333 !default;
$toggleButtonIconColor: #666666 !default;
$toggleButtonHoverBg: #c8c8c8 !default;
$toggleButtonHoverBorderColor: #c8c8c8 !default;
$toggleButtonTextHoverColor: #333333 !default;
$toggleButtonIconHoverColor: #666666 !default;
$toggleButtonActiveBg: $highlightBg !default;
$toggleButtonActiveBorderColor: $highlightBg !default;
$toggleButtonTextActiveColor: $highlightTextColor !default;
$toggleButtonIconActiveColor: $highlightTextColor !default;
$toggleButtonActiveHoverBg: $highlightBgDark !default;
$toggleButtonActiveHoverBorderColor: $highlightBgDark !default;
$toggleButtonTextActiveHoverColor: $highlightTextColor !default;
$toggleButtonIconActiveHoverColor: $highlightTextColor !default;

//inplace
$inplacePadding: $inputPadding !default;
$inplaceHoverBg: #f4f4f4 !default;
$inplaceTextHoverColor: $textColor !default;

//rating
$ratingIconFontSize: 1.143rem !default;
$ratingCancelIconColor: #f3b9b9 !default;
$ratingCancelIconHoverColor: #d66161 !default;
$ratingStarIconOffColor: $textColor !default;
$ratingStarIconOnColor: $primaryColor !default;
$ratingStarIconHoverColor: $primaryColor !default;

//slider
$sliderBg: #c4c4c4 !default;
$sliderBorder: 0 none !default;
$sliderHorizontalHeight: .286rem !default;
$sliderVerticalWidth: 0.286rem !default;
$sliderHandleWidth: 1.429rem !default;
$sliderHandleHeight: 1.429rem !default;
$sliderHandleBg: #ffffff !default;
$sliderHandleBorder: 2px solid #7f7f7f !default;
$sliderHandleBorderRadius: 50% !default;
$sliderHandleHoverBorderColor: $primaryColor !default;
$sliderHandleHoverBg: 2px solid #7f7f7f !default;
$sliderRangeBg: $primaryColor !default;

//calendar
$calendarTableMargin: 0.857rem 0 !default;
$calendarPadding: 0.857rem !default;
$calendarBg: $inputListBg !default;
$calendarInlineBg:$calendarBg !default;
$calendarTextColor: $inputListTextColor !default;
$calendarBorder: $inputListBorder !default;
$calendarOverlayBorder: $inputOverlayBorder !default;

$calendarHeaderPadding: .5rem !default;
$calendarHeaderBg: $inputListHeaderBg !default;
$calendarInlineHeaderBg:$calendarBg !default;
$calendarHeaderBorder: 0 none !default;
$calendarHeaderTextColor: $inputListHeaderTextColor !default;
$calendarHeaderFontWeight: 700 !default;
$calendarHeaderCellPadding: .5rem !default;
$calendarMonthYearHeaderHoverTextColor: $primaryColor !default;

$calendarCellDatePadding: .5rem !default;
$calendarCellDateWidth: 2.5rem !default;
$calendarCellDateHeight: 2.5rem !default;
$calendarCellDateBorderRadius: $borderRadius !default;
$calendarCellDateBorder:1px solid transparent !default;
$calendarCellDateHoverBg: #f4f4f4 !default;
$calendarCellDateTodayBg: #d0d0d0 !default;
$calendarCellDateTodayBorderColor: transparent !default;
$calendarCellDateTodayTextColor: $textColor !default;

$calendarButtonBarPadding: 0.857rem 0 .429rem 0 !default;
$calendarTimePickerPadding: 0.857rem 0 .429rem 0 !default;
$calendarTimePickerElementPadding: 0 .429rem !default;
$calendarTimePickerTimeFontSize: 1.286rem !default;

$calendarBreakpoint: 769px !default;
$calendarCellDatePaddingSM: .25rem !default;

//input switch
$inputSwitchWidth: 3rem !default;
$inputSwitchHeight: 1.75rem !default;
$inputSwitchBorderRadius: 30px !default;
$inputSwitchHandleWidth: 1.250rem !default;
$inputSwitchHandleHeight: 1.250rem !default;
$inputSwitchHandleBorderRadius: 50% !default;
$inputSwitchSliderPadding: .25rem !default;
$inputSwitchSliderOffBg: $inputBg !default;
$inputSwitchHandleOffBg: $primaryColor !default;
$inputSwitchSliderOffHoverBg: #d8dae2 !default;
$inputSwitchSliderOnBg: $highlightBg !default;
$inputSwitchSliderOnHoverBg: $highlightBg !default;
$inputSwitchHandleOnBg: $highlightTextColor !default;

//panel
$panelHeaderBorderColor:$primaryColor !default;
$panelHeaderBorder: 1px solid $primaryColor !default;
$panelHeaderBg: $primaryColor !default;
$panelHeaderTextColor: $primaryTextColor !default;
$panelHeaderFontWeight: 700 !default;
$panelHeaderPadding: 0.857rem 1rem !default;
$panelToggleableHeaderPadding: 0.857rem 1rem !default;

$panelHeaderHoverBg: $primaryDarkerColor !default;
$panelHeaderHoverBorderColor: $primaryDarkerColor !default;
$panelHeaderTextHoverColor: $primaryTextColor !default;

$panelContentBorderColor: #dadada !default;
$panelContentBorder: 1px solid #dadada !default;
$panelContentBg: #ffffff !default;
$panelContentTextColor: $textColor !default;
$panelContentPadding: 0.571rem 1rem !default;

$panelFooterBorder: 1px solid #dadada !default;
$panelFooterBg: #ffffff !default;
$panelFooterTextColor: $textColor !default;
$panelFooterPadding: 0.571rem 1rem !default;

//accordion
$accordionSpacing: 2px !default;
$accordionHeaderBorder: $panelHeaderBorder !default;
$accordionHeaderBg:$panelHeaderBg !default;
$accordionHeaderTextColor: $panelHeaderTextColor !default;
$accordionHeaderFontWeight: $panelHeaderFontWeight !default;
$accordionHeaderPadding: $panelHeaderPadding !default;

$accordionHeaderHoverBg: $primaryDarkerColor !default;
$accordionHeaderHoverBorderColor: $primaryDarkerColor !default;
$accordionHeaderTextHoverColor: $primaryTextColor !default;

$accordionHeaderActiveBg: $highlightBg !default;
$accordionHeaderActiveBorderColor: #dadada !default;
$accordionHeaderTextActiveColor: $highlightTextColor !default;

$accordionHeaderActiveHoverBg: $highlightBgDark !default;
$accordionHeaderActiveHoverBorderColor: $highlightBgDark !default;
$accordionHeaderTextActiveHoverColor: $highlightTextColor !default;

$accordionContentBorder: $panelContentBorder !default;
$accordionContentBg: $panelContentBg !default;
$accordionContentTextColor: $panelContentTextColor !default;
$accordionContentPadding: $panelContentPadding !default;

//tabview
$tabviewNavBorder: 0 none !default;
$tabviewNavBorderWidth: 1px !default;
$tabviewNavBg: transparent !default;

$tabviewHeaderSpacing: 2px !default;
$tabviewHeaderBorder: $panelHeaderBorder !default;
$tabviewHeaderBorderWidth: 1px !default;
$tabviewHeaderBorderColor: $primaryColor !default;
$tabviewHeaderBg:$panelHeaderBg !default;
$tabviewHeaderTextColor: $panelHeaderTextColor !default;
$tabviewHeaderFontWeight: $panelHeaderFontWeight !default;
$tabviewHeaderPadding: $panelHeaderPadding !default;
$tabviewHeaderMargin: 0 0 -1px 0 !default;

$tabviewHeaderHoverBg: $primaryDarkerColor !default;
$tabviewHeaderHoverBorderColor: $primaryDarkerColor !default;
$tabviewHeaderTextHoverColor: $primaryTextColor !default;

$tabviewHeaderActiveBg: $highlightBg !default;
$tabviewHeaderActiveBorderColor: #dadada !default;
$tabviewHeaderTextActiveColor: $highlightTextColor !default;

$tabviewContentBorder: $panelContentBorder !default;
$tabviewContentBg: $panelContentBg !default;
$tabviewContentTextColor: $panelContentTextColor !default;
$tabviewContentPadding: $panelContentPadding !default;

//upload
$fileUploadProgressBarHeight: .25rem !default;
$fileUploadContentPadding: $panelContentPadding !default;

//scrollpanel
$scrollPanelTrackBorder: 0 none !default;
$scrollPanelTrackBg: #f8f8f8 !default;

//card
$cardBodyPadding: 1rem !default;
$cardTitleFontSize: 1.5rem !default;
$cardTitleFontWeight: 700 !default;
$cardSubTitleFontWeight: 700 !default;
$cardSubTitleColor: $textSecondaryColor !default;
$cardContentPadding: 1rem 0 !default;
$cardFooterPadding: 1rem 0 0 0 !default;
$cardShadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;

//editor
$editorToolbarBg:$panelHeaderBg !default;
$editorToolbarBorder:$panelHeaderBorder !default;
$editorToolbarPadding:$panelHeaderPadding !default;
$editorToolbarIconColor:$textSecondaryColor !default;
$editorToolbarIconHoverColor:$textColor !default;
$editorIconActiveColor:$primaryColor !default;
$editorContentBorder:$panelContentBorder !default;
$editorContentBg:$panelContentBg !default;

//paginator
$paginatorBg: #ffffff !default;
$paginatorTextColor: $textColor !default;
$paginatorBorder: solid #dadada !default;
$paginatorBorderWidth: 1px !default;
$paginatorPadding: 0 !default;
$paginatorElementWidth: $buttonIconOnlyWidth !default;
$paginatorElementHeight: $buttonIconOnlyWidth !default;
$paginatorElementBg: transparent !default;
$paginatorElementBorder: 0 none !default;
$paginatorElementIconColor: $textColor !default;
$paginatorElementHoverBg: #f4f4f4 !default;
$paginatorElementHoverBorderColor: transparent !default;
$paginatorElementIconHoverColor: $textColor !default;
$paginatorElementBorderRadius: 0 !default;
$paginatorElementMargin: 0 !default;
$paginatorElementPadding: 0 !default;

//table
$tableHeaderBorder: $panelHeaderBorder !default;
$tableHeaderBorderWidth: 1px 1px 0 1px !default;
$tableHeaderBg: $panelHeaderBg !default;
$tableHeaderTextColor: $panelHeaderTextColor !default;
$tableHeaderFontWeight: $panelHeaderFontWeight !default;
$tableHeaderPadding: $panelHeaderPadding !default;

$tableHeaderCellPadding: 0.571rem 0.857rem !default;
$tableHeaderCellBg: #ffffff !default;
$tableHeaderCellTextColor: $textColor !default;
$tableHeaderCellFontWeight: 700 !default;
$tableHeaderCellBorder: 1px solid #dadada !default;
$tableHeaderCellBorderWidth: 1px 1px 1px 1px !default;
$tableHeaderCellHoverBg: #eaeaea !default;
$tableHeaderCellTextHoverColor: $textColor !default;
$tableHeaderCellIconColor: $textColor !default;
$tableHeaderCellIconHoverColor: $textColor !default;
$tableHeaderCellHighlightBg:$highlightBg !default;
$tableHeaderCellHighlightTextColor:$highlightTextColor !default;
$tableHeaderCellHighlightHoverBg:$highlightBg !default;
$tableHeaderCellHighlightTextHoverColor:$highlightTextColor !default;
$tableSortableColumnBadgeSize: 1.143rem !default;

$tableBodyRowBg: #ffffff !default;
$tableBodyRowTextColor: $textColor !default;
$tableBodyRowEvenBg: #f8f8f8 !default;
$tableBodyRowHoverBg: #eaeaea !default;
$tableBodyRowTextHoverColor: $textColor !default;
$tableBodyCellBorder: 1px solid #dadada !default;
$tableBodyCellBorderWidth: 1px !default;
$tableBodyCellPadding: 0.571rem 0.857rem !default;

$tableFooterCellPadding: 0.571rem 0.857rem !default;
$tableFooterCellBg: #ffffff !default;
$tableFooterCellTextColor: $textColor !default;
$tableFooterCellFontWeight: 700 !default;
$tableFooterCellBorder: 1px solid #dadada !default;
$tableFooterCellBorderWidth: 1px !default;
$tableResizerHelperBg: $primaryColor !default;

$tableFooterBorder: $panelFooterBorder !default;
$tableFooterBorderWidth: 0 1px 1px 1px !default;
$tableFooterBg: $panelFooterBg !default;
$tableFooterTextColor: $panelFooterTextColor !default;
$tableFooterFontWeight: normal !default;
$tableFooterPadding: $panelFooterPadding !default;

$tableCellContentAlignment: left !default;
$tableTopPaginatorBorderWidth: 1px 1px 0 1px !default;
$tableBottomPaginatorBorderWidth: 0 1px 1px 1px !default;

$tableScaleSM: 0.85 !default;
$tableScaleLG: 1.25 !default;

//dataview
$dataViewContentPadding: 0 !default;
$dataViewContentBorder: 0 none !default;
$dataViewListItemBorder: $divider !default;
$dataViewListItemBorderWidth: 0 0 1px 0 !default;

//schedule
$fullCalendarEventBg: $highlightBg !default;
$fullCalendarEventBorderColor: $primaryDarkColor !default;
$fullCalendarEventBorder: 1px solid $primaryDarkColor !default;
$fullCalendarEventTextColor: $highlightTextColor !default;

//tree
$treeContainerPadding: 0.286rem !default;
$treeNodePadding: 0.143rem !default;
$treeNodeContentPadding: 0 !default;
$treeNodeChildrenPadding: 0 0 0 1rem !default;
$treeNodeIconColor: $textSecondaryColor !default;

//timeline
$timelineVerticalEventContentPadding:0 1rem !default;
$timelineHorizontalEventContentPadding:1rem 0 !default;
$timelineEventMarkerWidth:1rem !default;
$timelineEventMarkerHeight:1rem !default;
$timelineEventMarkerBorderRadius:50% !default;
$timelineEventMarkerBorder:0 none !default;
$timelineEventMarkerBackground:$highlightBg !default;
$timelineEventConnectorSize:2px !default;
$timelineEventColor:#c8c8c8 !default;

//org chart
$organizationChartConnectorColor: #c8c8c8 !default;

//messages
$messageMargin: 1rem 0 !default;
$messagePadding: 1rem !default;
$messageBorderWidth: 1px !default;
$messageIconFontSize: 1.5rem !default;
$messageTextFontSize: 1rem !default;
$messageTextFontWeight: normal !default;

//message
$inlineMessagePadding: .5rem !default;
$inlineMessageMargin: 0 !default;
$inlineMessageIconFontSize: 1rem !default;
$inlineMessageTextFontSize: 1rem !default;
$inlineMessageBorderWidth: 1px !default;

//toast
$toastIconFontSize: 2rem !default;
$toastMessageTextMargin: 0 0 0 $inlineSpacing !default;
$toastMargin: 0 0 1rem 0 !default;
$toastPadding: 1rem !default;
$toastBorderWidth: 0 !default;
$toastShadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !default;
$toastOpacity: .9 !default;
$toastTitleFontWeight: 700 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg: #A3DEF8 !default;
$infoMessageBorder: 1px solid #79C8EB !default;
$infoMessageTextColor: #212121 !default;
$infoMessageIconColor: #212121 !default;
$successMessageBg: #A3E2C6 !default;
$successMessageBorder: 1px solid #A3E2C6 !default;
$successMessageTextColor: #212121 !default;
$successMessageIconColor: #212121 !default;
$warningMessageBg: #ffe277 !default;
$warningMessageBorder: 1px solid #ffe277 !default;
$warningMessageTextColor: #212121 !default;
$warningMessageIconColor: #212121 !default;
$errorMessageBg: #ff8b8b !default;
$errorMessageBorder: 1px solid #ff8b8b !default;
$errorMessageTextColor: #212121 !default;
$errorMessageIconColor: #212121 !default;

//overlays
$overlayContentBorder: 1px solid #f1f1f1 !default;
$overlayContentBg:$panelContentBg !default;
$overlayContainerShadow: 0 0 6px 0 rgba(0, 0, 0, 0.16) !default;

//dialog
$dialogHeaderBg: $panelHeaderBg !default;
$dialogHeaderBorder: $panelHeaderBorder !default;
$dialogHeaderTextColor: $panelHeaderTextColor !default;
$dialogHeaderFontWeight: $panelHeaderFontWeight !default;
$dialogHeaderFontSize: 1rem !default;
$dialogHeaderPadding: 1rem !default;
$dialogContentPadding: 1rem !default;
$dialogFooterBorder: $panelFooterBorder !default;
$dialogFooterPadding: $panelFooterPadding !default;

//confirmpopup
$confirmPopupContentPadding:$panelContentPadding !default;
$confirmPopupFooterPadding:0 1rem .571rem 1rem !default;

//tooltip
$tooltipBg: $highlightBg !default;
$tooltipTextColor: $highlightTextColor !default;
$tooltipPadding: $inputPadding !default;

//steps
$stepsItemBg: #ffffff !default;
$stepsItemBorder: 1px solid #c8c8c8 !default;
$stepsItemTextColor: $textSecondaryColor !default;
$stepsItemNumberWidth: 2rem !default;
$stepsItemNumberHeight: 2rem !default;
$stepsItemNumberFontSize: 1.143rem !default;
$stepsItemNumberColor: $textSecondaryColor !default;
$stepsItemNumberBorderRadius: 50% !default;
$stepsItemActiveFontWeight: 700 !default;

//progressbar
$progressBarHeight: 24px !default;
$progressBarBorder: 0 none !default;
$progressBarBg: #efefef !default;
$progressBarValueBg: $primaryColor !default;
$progressBarValueTextColor:$primaryTextColor !default;

//menu (e.g. menu, menubar, tieredmenu)
$menuWidth: 12.5rem !default;
$menuBg: #ffffff !default;
$menuBorder: 1px solid #c8c8c8 !default;
$menuTextColor: $textColor !default;
$menuitemPadding: 0.857rem !default;
$menuitemBorderRadius: 0 !default;
$menuitemTextColor: $textColor !default;
$menuitemIconColor: $textColor !default;
$menuitemTextHoverColor: $textColor !default;
$menuitemIconHoverColor: $textColor !default;
$menuitemHoverBg: #eaeaea !default;
$menuitemTextActiveColor: $textColor !default;
$menuitemIconActiveColor: $textColor !default;
$menuitemActiveBg: #eaeaea !default;
$menuitemSubmenuIconFontSize: .875rem !default;
$submenuHeaderMargin: 0 !default;
$submenuHeaderPadding: 0.857rem !default;
$submenuHeaderBg: #f4f4f4 !default;
$submenuHeaderTextColor: $textColor !default;
$submenuHeaderFontWeight: 700 !default;
$submenuHeaderBorderRadius: $borderRadius !default;
$overlayMenuBg:$menuBg !default;
$overlayMenuBorder: 1px solid #eaeaea !default;
$overlayMenuShadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16) !default;
$verticalMenuPadding: 0 !default;
$menuSeparatorMargin: 0 !default;

$breadcrumbPadding: 0.571rem 1rem !default;
$breadcrumbBg: $menuBg !default;
$breadcrumbBorder: $menuBorder !default;
$breadcrumbItemTextColor: $menuitemTextColor !default;
$breadcrumbItemIconColor: $menuitemIconColor !default;
$breadcrumbLastItemTextColor: $menuitemTextColor !default;
$breadcrumbLastItemIconColor: $menuitemIconColor !default;
$breadcrumbSeparatorColor: $menuitemTextColor !default;

$horizontalMenuPadding: .5rem !default;
$horizontalMenuBg: $menuBg !default;
$horizontalMenuBorder: $menuBorder !default;
$horizontalMenuTextColor: $menuTextColor !default;
$horizontalMenuRootMenuitemPadding: $menuitemPadding !default;
$horizontalMenuRootMenuitemBorderRadius: $borderRadius !default;
$horizontalMenuRootMenuitemTextColor: $menuitemTextColor !default;
$horizontalMenuRootMenuitemIconColor: $menuitemIconColor !default;
$horizontalMenuRootMenuitemTextHoverColor: $menuitemTextHoverColor !default;
$horizontalMenuRootMenuitemIconHoverColor: $menuitemIconHoverColor !default;
$horizontalMenuRootMenuitemHoverBg: $menuitemHoverBg !default;
$horizontalMenuRootMenuitemTextActiveColor:$menuitemTextActiveColor !default;
$horizontalMenuRootMenuitemIconActiveColor: $menuitemIconActiveColor !default;
$horizontalMenuRootMenuitemActiveBg: $menuitemActiveBg !default;

//badge and tag
$badgeBg: $primaryColor !default;
$badgeTextColor: $primaryTextColor !default;
$badgeMinWidth: 1.5rem !default;
$badgeHeight: 1.5rem !default;
$badgeFontWeight: 700 !default;
$badgeFontSize: .75rem !default;

$tagPadding: .25rem .4rem !default;

//carousel
$carouselIndicatorsPadding: 1rem !default;
$carouselIndicatorBg: $primaryColor !default;
$carouselIndicatorHoverBg: $primaryDarkerColor !default;
$carouselIndicatorBorderRadius: 0 !default;
$carouselIndicatorWidth: 2rem !default;
$carouselIndicatorHeight: .5rem !default;

//galleria
$galleriaMaskBg: rgba(0,0,0,0.9) !default;
$galleriaCloseIconMargin: .5rem !default;
$galleriaCloseIconFontSize: 2rem !default;
$galleriaCloseIconBg: transparent !default;
$galleriaCloseIconColor: #ebedef !default;
$galleriaCloseIconHoverBg: rgba(255,255,255,0.1) !default;
$galleriaCloseIconHoverColor: #ebedef !default;
$galleriaCloseIconWidth: 4rem !default;
$galleriaCloseIconHeight: 4rem !default;
$galleriaCloseIconBorderRadius: 50% !default;

$galleriaItemNavigatorBg: rgba(0,0,0,.2) !default;
$galleriaItemNavigatorColor: #aeb6bf !default;
$galleriaItemNavigatorMargin:0 .5rem !default;
$galleriaItemNavigatorFontSize: 2rem !default;
$galleriaItemNavigatorHoverBg: rgba(0,0,0,.3) !default;
$galleriaItemNavigatorHoverColor: #ebedef !default;
$galleriaItemNavigatorWidth: 4rem !default;
$galleriaItemNavigatorHeight: 4rem !default;
$galleriaItemNavigatorBorderRadius: $borderRadius !default;

$galleriaCaptionBg: rgba(0,0,0,.5) !default;
$galleriaCaptionTextColor: #ebedef !default;
$galleriaCaptionPadding: 1rem !default;

$galleriaIndicatorsPadding: 1rem !default;
$galleriaIndicatorBg: $primaryColor !default;
$galleriaIndicatorHoverBg: $primaryDarkerColor !default;
$galleriaIndicatorBorderRadius: 50% !default;
$galleriaIndicatorWidth: 1rem !default;
$galleriaIndicatorHeight: 1rem !default;
$galleriaIndicatorsBgOnItem: rgba(0,0,0,.5) !default;
$galleriaIndicatorBgOnItem: rgba(255,255,255,.4) !default;
$galleriaIndicatorHoverBgOnItem: rgba(255,255,255,.6) !default;

$galleriaThumbnailContainerBg: rgba(0,0,0,.9) !default;
$galleriaThumbnailContainerPadding: 1rem .25rem !default;
$galleriaThumbnailNavigatorBg: transparent !default;
$galleriaThumbnailNavigatorColor: #aeb6bf !default;
$galleriaThumbnailNavigatorHoverBg: rgba(255,255,255,0.1) !default;
$galleriaThumbnailNavigatorHoverColor: #aeb6bf !default;
$galleriaThumbnailNavigatorBorderRadius: 50% !default;
$galleriaThumbnailNavigatorWidth: 2rem !default;
$galleriaThumbnailNavigatorHeight: 2rem !default;

//divider
$dividerHorizontalMargin:1rem 0 !default;
$dividerHorizontalPadding:0 1rem !default;
$dividerVerticalMargin:0 1rem !default;
$dividerVerticalPadding:1rem 0 !default;
$dividerSize:1px !default;
$dividerColor:#dadada !default;

//avatar
$avatarBg:#dadada !default;
$avatarTextColor:$textColor !default;

//chip
$chipBg:#dadada !default;
$chipTextColor:$textColor !default;
$chipBorderRadius: 16px !default;

//scrollTop
$scrollTopBg:rgba(0,0,0,0.7) !default;
$scrollTopHoverBg:rgba(0,0,0,0.8) !default;
$scrollTopWidth:3rem !default;
$scrollTopHeight:3rem !default;
$scrollTopBorderRadius:50% !default;
$scrollTopFontSize:1.5rem !default;
$scrollTopTextColor:#f4f4f4 !default;

//skeleton
$skeletonBg:#dadada !default;
$skeletonAnimationBg:rgba(255,255,255,0.4) !default;

//splitter
$splitterGutterBg:#eaeaea !default;
$splitterGutterHandleBg:#dadada !default;

//speeddial
$speedDialButtonWidth: 4rem !default;
$speedDialButtonHeight: 4rem !default;
$speedDialButtonIconFontSize: 1.3rem !default;
$speedDialActionWidth: 3rem !default;
$speedDialActionHeight: 3rem !default;
$speedDialActionBg: #324249 !default;
$speedDialActionHoverBg: #222c31 !default;
$speedDialActionTextColor: #fff !default;
$speedDialActionTextHoverColor: #fff !default;

//dock
$dockActionWidth: 4rem !default;
$dockActionHeight: 4rem !default;
$dockItemPadding: .5rem !default;
$dockCurrentItemMargin: 1.5rem !default;
$dockFirstItemsMargin: 1.3rem !default;
$dockSecondItemsMargin: 0.9rem !default;
$dockBg: rgba(255,255,255,.1) !default;
$dockBorder: 1px solid rgba(255,255,255,0.2) !default;
$dockPadding: .5rem .5rem !default;
$dockBorderRadius: .5rem !default;

//image
$imageMaskBg:rgba(0,0,0,0.9) !default;
$imagePreviewToolbarPadding:1rem !default;
$imagePreviewIndicatorColor:#f8f9fa !default;
$imagePreviewIndicatorBg:rgba(0,0,0,0.5) !default;
$imagePreviewActionIconBg:transparent !default;
$imagePreviewActionIconColor:#f8f9fa !default;
$imagePreviewActionIconHoverBg:rgba(255,255,255,0.1) !default;
$imagePreviewActionIconHoverColor:#f8f9fa !default;
$imagePreviewActionIconWidth:3rem !default;
$imagePreviewActionIconHeight:3rem !default;
$imagePreviewActionIconFontSize:1.5rem !default;
$imagePreviewActionIconBorderRadius:50% !default;

:root {
    --surface-a: #ffffff;
    --surface-b: #f4f4f4;
    --surface-c: #eaeaea;
    --surface-d: #dadada;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: #495057;
    --text-color-secondary: #6c757d;
    --primary-color: #{$primaryColor};
    --primary-color-text: #{$primaryTextColor};
    --font-family: #{$fontFamily};
    --surface-0: #ffffff;
    --surface-50: #eef1f2;
    --surface-100: #dde2e4;
    --surface-200: #bbc5ca;
    --surface-300: #98a8af;
    --surface-400: #768b95;
    --surface-500: #546e7a;
    --surface-600: #435862;
    --surface-700: #324249;
    --surface-800: #222c31;
    --surface-900: #111618;
    --gray-50: #eef1f2;
    --gray-100: #dde2e4;
    --gray-200: #bbc5ca;
    --gray-300: #98a8af;
    --gray-400: #768b95;
    --gray-500: #546e7a;
    --gray-600: #435862;
    --gray-700: #324249;
    --gray-800: #222c31;
    --gray-900: #111618;
    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius:#{$borderRadius};
    --surface-ground:#f4f4f4;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#dadada;
    --surface-hover: #eaeaea;
    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};
}